.fullname-error, .email-error, .subject-error, .textarea-error {
    display: none;
}

.contact__form {
    display: grid;
    width: 400px;
    max-width: 80%;
    margin: 40px auto;
    padding: 40px 0px;
}

.contact__form label {
    margin-top: 20px;
}

.contact__form-button:disabled {
    opacity: 30%;
    background-color: var(--red);
  }

input, textarea {
    border: 1px solid black;
    border-radius: var(--defaultradius);
}

textarea {
    resize: none;
}

.contact__form-message {
    display: none;
    width: 80%;
    text-align: center;
    font-weight: bold;
    margin: 20px auto;
    padding: 10px;
    font-size: 24px;
    background-color: var(--blue);
    border-radius: var(--defaultradius);
}

button {
    width: 150px;
    border: none;
    background-color: var(--blue);
    color: var(--black);
    margin: 20px auto;
    padding: 10px;
    border-radius: var(--defaultradius);
}