@import "variables/variables.css";

/* FONT */

* {
  font-family: var(--defaultfont);
}

/* HTML */
html {
  background: var(--black);
  padding: 10px;
}

/* Body */



body {
  max-width: 1000px;
  margin: 0 auto;
  background: white;
  border-radius: var(--defaultradius);
}

.fas {
  font-size: 30px;
  color: var(--blue);
}

nav a:hover {
  color: var(--orange);
}

.hamburger__dropdown-menu a:hover {
  background-color: orange;
  border-radius: var(--defaultradius)
}

/* Header */

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--white);
  border-radius: var(--defaultradius);
}

.logo {
  background-image: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 40px;
  width: 120px;
  height: 120px;
}

/* Hamburger menu */
.hamburger__container {
  position: relative;
}

.hamburger__icon-menu {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: px;
}

#hamburger {
  display: none;
}

.hamburger__dropdown-menu {
  display: none;
  width: 300px;
  background-color: var(--white);
  text-align: center;
  top: 100%;  
  right: 0%;
  position:absolute;
  border-radius: 0px 0px 10px 10px;
}

.hamburger__dropdown-menu a {
  padding: 10px;
  text-decoration: none;
  color: var(--black);
}

#hamburger:checked ~ .hamburger__dropdown-menu {
  display: grid;
}

/* Menu */

nav {
  margin-top: 50px;
  font-weight: bold;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

li {
  list-style: none;
}

li a {
  color: var(--blue);
  text-decoration: none;
  font-size: 24px;
  padding: 30px;

}

/* Footer */




/* Loading wheel*/

.loading-wheel {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 5px solid var(--blue);
  border-top: 5px solid var(--black);
  border-radius: 100%;
  animation-name: turn;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes turn {
  0% {
    transform:rotate(0deg)
  }
  100% {
    transform:rotate(360deg)
  }
}


/* Media Querys */

@media only screen and (min-width: 801px) {
  .hamburger__dropdown-menu a {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  header {
    grid-template-columns: 80% 20%;
  }
  
  .hamburger__icon-menu {
    display: grid;
  }
  nav {
    display: none;
  }
}