@import "variables/variables.css";

/* FONT */

* {
  font-family: var(--defaultfont);
}

/* HTML */
html {
  /* background: var(--blackgray); */
}

/* Body */

body {
  max-width: 1920px;
  margin: 0 auto;
  background: white;
  /* border-radius: var(--defaultradius);
  box-shadow: 0px 0px 5px 2px; */
}

.fas {
  font-size: 30px;
  color: var(--blue);
}

/* Header */

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--white);
  border-radius: var(--defaultradius);
  max-width: 1000px;
  margin: 0 auto;
}

.logo {
  background-image: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 40px;
  width: 120px;
  height: 120px;
}

/* Hamburger menu */
.hamburger__container {
  position: relative;
}

.hamburger__icon-menu {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: px;
}

#hamburger {
  display: none;
}

.hamburger__dropdown-menu {
  display: none;
  width: 300px;
  background-color: var(--white);
  text-align: center;
  top: 100%;
  right: 0%;
  position: absolute;
  border-radius: 0px 0px 10px 10px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.hamburger__dropdown-menu a {
  padding: 10px;
  text-decoration: none;
  color: var(--black);
}

.hamburger__dropdown-menu a:hover {
  background-color: orange;
  border-radius: var(--defaultradius);
}

#hamburger:checked ~ .hamburger__dropdown-menu {
  display: grid;
}

/* Menu */

nav {
  margin-top: 50px;
  font-weight: bold;
}

nav a:hover {
  color: var(--orange);
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

li {
  list-style: none;
}

li a {
  color: var(--blue);
  text-decoration: none;
  font-size: 20px;
  padding: 30px;
}

/* Search bar */

.search-bar {
  display: grid;
  grid-template-columns: 5fr 1fr;
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
}

.search-bar input {
  border: 1px solid var(--black);
  border-radius: var(--defaultradius);
  height: 30px;
}

.search-button {
  margin-left: 10px;
  cursor: pointer;
  border-radius: var(--defaultradius);
  border: 1px solid var(--black);
}

.fa-search {
  padding: 2px;
  font-size: 20px;
}

/* Footer */

footer {
  background-color: var(--offwhite);
  margin-top: 30px;
}

.footer__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 800px;
  margin: 0 auto;
}

.footer-links {
  display: grid;
  justify-content: space-between;
  align-self: center;
  margin: 0 auto;
  max-width: 600px;
  padding: 30px;
}

.footer-links a {
  text-decoration: none;
  color: var(--black);
}

.footer-links a:hover {
  color: var(--blue);
}

.social-media {
  background-color: var(--offwhite);
  display: grid;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 200px;
}

.social-media .fab {
  padding: 20px;
  font-size: 30px;
  color: var(--black);
  text-decoration: none;
}

.social-media .fab:hover {
  color: var(--blue);
}

.copyright {
  background-color: var(--white);
  padding: 5px;
  text-align: center;
}

/* Loading wheel*/

.loading-wheel {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 5px solid var(--blue);
  border-top: 5px solid var(--black);
  border-radius: 100%;
  animation-name: turn;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes turn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media Querys */

@media only screen and (min-width: 801px) {
  .hamburger__dropdown-menu a {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  html {
    padding: 0px;
  }

  body {
    border-radius: 0px;
  }
  
  header {
    grid-template-columns: 80% 20%;
  }

  .hamburger__icon-menu {
    display: grid;
  }
  nav {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .footer__container {
    grid-template-columns: 1fr;
  }
}