:root {
  /* Colors */
  --black: #000000;
  --blackgray: #2c2c2c;
  --white: #ffffff;
  --blue: #2f7eb6;
  --red: #ff0000;
  --offwhite: #dcdace;
  --green: #63ff9f;

  /* Fonts */
  --headerfont: "Roboto Slab", "Roboto", "Open Sans", Helvetica, sans-serif;
  --defaultfont: "Roboto", "Open Sans", Helvetica, sans-serif;

  /* Border radius defaults */
  --defaultradius: 10px;
}
