:root {
  /* Colors */
  --black: #000000;
  --blackgray: #2c2c2c;
  --white: #ffffff;
  --blue: #2A76AC;
  --orange: #ffc37d;
  --red: #ff0000;
  --offwhite: #dcdace;

  /* Fonts */
  --defaultfont: "Roboto", "Open Sans", Helvetica, sans-serif;

  /* Border radius defaults */
  --defaultradius: 10px;
}
