:root {
  /* Colors */
  --black: #000000;
  --white: #ffffff;
  --blue: #469ddb;
  --purple: #9445f5;
  --orange: #ffc37d;
  --red: #ff8d8d;
  --offwhite: #dcdace;

  /* Fonts */
  --defaultfont: Roboto, "Open Sans", Helvetica, sans-serif;

  /* Border radius defaults */
  --defaultradius: 10px;
}
